// @font-face mixin.
@mixin font-face($family, $filename: $family, $weight: 400, $style: normal, $display: swap) {
  @font-face {
    font-family: $family;
    src:
      local("#{$filename}"),
      local("#{$family}"),
      url("../fonts/#{$filename}.woff2") format("woff2"),
      url("../fonts/#{$filename}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;

    font-display: $display;
  }
}
